.container {
  width: 22rem;
  height: 10rem;
  justify-content: center;
  .formlist {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    width: 22rem;
    height: 10rem;
    font-size: 18px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: 500;
    
    input{
       padding: 0.2rem;
       
    }
    button{
      width: 10rem;
        background-color: black;
        color: white;
        border:1px solid black;
        padding: 0.3rem;
    }
    
 
} 
 }

